div#quick_course
{
    width: 90%;
    margin: auto;
}

div#quick_course input
{
    width: 100%;
    text-align: left;
}

img#quick_course_loading
{
    width: 20px;
}

div#quick_course_results
{
    font-size: 8pt;
    max-height: 400px;
    overflow-y: auto;
    margin-top: 10px;
}

p.quick_course_results_heading
{
    text-align: center;
    font-weight: bold;
}

div.quick_course_result
{
    margin-bottom: 5px;
}

div.quick_course_expand
{
    display: none;
    margin-bottom: 5px;
    text-align: center;
}

div.quick_course_expand a
{
    margin: 0 10px;
}

img.quick_course_toggle
{
    width:16px;
    vertical-align:bottom;
}

p.quick_course_clear
{
    text-align: center;
}

div.quick_course_result a.child-course
{
    font-style: italic;
}

div.quick_course_loading
{
    text-align: center;
}